@theme inline {
	--font-sans: "InterVariable", system-ui;
	--font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	--font-display: "FTRegolaNeue", system-ui;
	--font-mono: "PPSupplyMono", system-ui;
}

@font-face {
	font-family: "InterVariable";
	src:
		url("/fonts/InterVariable.woff2") format("woff2-variations"),
		url("/fonts/InterVariable.woff2") format("woff2");
	font-display: block;
	font-style: normal;
	font-weight: 100 900;
}

/* @font-face {
	font-family: "FTRegolaNeue";
	src: url("/fonts/FTRegolaNeue-Regular.otf") format("opentype");
	font-display: block;
	font-style: normal;
	font-weight: 400;
} */

@font-face {
	font-family: "FTRegolaNeue";
	src: url("/fonts/FTRegolaNeue-Medium.otf") format("opentype");
	font-display: block;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "FTRegolaNeue";
	src: url("/fonts/FTRegolaNeue-SemiBold.otf") format("opentype");
	font-display: block;
	font-style: normal;
	font-weight: 600;
}

/* @font-face {
	font-family: "FTRegolaNeue";
	src: url("/fonts/FTRegolaNeue-Bold.otf") format("opentype");
	font-display: block;
	font-style: normal;
	font-weight: 700;
} */

@font-face {
	font-family: "PPSupplyMono";
	src: url("/fonts/PPSupplyMono-Regular.otf") format("opentype");
	font-display: block;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "PPSupplyMono";
	src: url("/fonts/PPSupplyMono-Ultralight.otf") format("opentype");
	font-display: block;
	font-style: normal;
	font-weight: 300;
}
