@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";
@import "./fonts.css";
@plugin "@toolwind/corner-shape";

@custom-variant dark (&:is(.dark *));

@layer base {
	html {
		font-size: 17px;
	}

	* {
		@apply border-border outline-ring/50 antialiased;
	}
	body {
		@apply bg-background text-foreground;
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@theme {
	--aspect-iphone-16: 0.461;
	--aspect-golden: 1.618;
	--aspect-card: 1.5925;
	--aspect-golden-portrait: 0.618;
}

@layer components {
	/* Remove transition from everything by default,  */
	/* ::view-transition-old(*) {
		animation: none;
		opacity: 0;
	}

	::view-transition-new(*) {
		animation: none;
		opacity: 1;
	} */
}
