@import "tailwindcss";
@import "tw-animate-css";
@plugin "@toolwind/corner-shape";

@layer base {
	/* * {
		@apply border-border outline-ring/50;
	} */
	body {
		@apply bg-white text-black antialiased;
	}
}

@theme {
	--aspect-iphone-16: 0.461;
	--aspect-golden: 1.618;
	--aspect-golden-portrait: 0.618;
}
