@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-\*: initial;
	--color-black: oklch(0% 0 0);
	--color-white: oklch(100% 0 0);

	--text-\*: initial;

	--text-2xl: 1.8rem;
	--text-2xl--line-height: 2.2rem;
	--text-2xl--letter-spacing: -0.024rem;
	--text-2xl--font-weight: 600;

	--text-xl: 1.5rem;
	--text-xl--line-height: 1.7rem;
	--text-xl--letter-spacing: -0.015rem;
	--text-xl--font-weight: 500;

	--text-lg: 1.2rem;
	--text-lg--line-height: 1.647rem;
	--text-lg--letter-spacing: -0.015rem;
	--text-lg--font-weight: 500;

	--text-md: 1rem;
	--text-md--line-height: 1.294rem;
	--text-md--letter-spacing: -0.025rem;
	--text-md--font-weight: 500;

	--text-sm: 0.9rem;
	--text-sm--line-height: 1.1rem;
	--text-sm--letter-spacing: -0.008rem;
	--text-sm--font-weight: 500;

	--text-xs: 0.8rem;
	--text-xs--line-height: 1.1rem;
	--text-xs--letter-spacing: -0.008rem;
	--text-xs--font-weight: 500;

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-drawer: var(--drawer);
	--color-drawer-foreground: var(--drawer-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-destructive: var(--destructive);
	--color-destructive-emphasis: oklch(from var(--destructive) l c h / 8%);
	--color-success: var(--success);
	--color-success-emphasis: oklch(from var(--success) l c h / 10%);
}

:root {
	--radius: 0.625rem;

	--background: oklch(1 0 0);
	--foreground: oklch(0.234 0.006 16.27);
	--drawer: oklch(1 0 0);
	--drawer-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.7595 0.2124 147.3);
	--primary-foreground: oklch(0.9739 0.0011 17.18);
	--muted: oklch(0.9739 0.0011 17.18);
	--muted-foreground: oklch(0.75 0.003 16);
	--accent: oklch(0.967 0.001 48);
	--accent-foreground: oklch(0.21 0.006 48);
	--border: oklch(0.9 0.005 48);
	--input: oklch(0.92 0.004 48);
	--ring: oklch(0.7595 0.2124 147.3);

	--success: oklch(0.7595 0.2124 147.3);
	--destructive: oklch(0.7595 0.2124 25.89);
}
