@theme inline {
	--color-\*: initial;
	--color-black: oklch(0% 0 0);
	--color-white: oklch(100% 0 0);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-drawer: var(--drawer);
	--color-drawer-foreground: var(--drawer-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-primary-emphasis: oklch(from var(--primary) l c h / 7%);
	--color-hyperlink: var(--hyperlink);
	--color-info: var(--info);
	--color-info-emphasis: oklch(from var(--info) l c h / 8%);
	--color-destructive: var(--destructive);
	--color-destructive-emphasis: oklch(from var(--destructive) l c h / 8%);
	--color-warning: var(--warning);
	--color-warning-emphasis: oklch(from var(--warning) l c h / 7%);
	--color-success: var(--success);
	--color-success-emphasis: oklch(from var(--success) l c h / 10%);
}

:root {
	--radius: 0.625rem;

	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 48);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 48);
	--drawer: oklch(1 0 0);
	--drawer-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.705 0.213 48);
	--primary-foreground: oklch(0.98 0.016 48);
	--muted: oklch(0.967 0.001 48);
	--muted-foreground: oklch(0.6 0.016 48);
	--accent: oklch(0.967 0.001 48);
	--accent-foreground: oklch(0.21 0.006 48);
	--border: oklch(0.9 0.005 48);
	--input: oklch(0.92 0.004 48);
	--ring: oklch(0.75 0.183 48);

	--hyperlink: oklch(0.705 0.213 48);
	--info: oklch(0.7 0.213 263);
	--warning: oklch(0.8 0.213 98.95);
	--success: oklch(0.7 0.213 161.47);
	--destructive: oklch(0.705 0.213 25.89);
}

.dark {
	--background: oklch(0.4 0.005 48);
	--foreground: oklch(0.93 0.025 48);
	--popover: oklch(0.35 0.005 48);
	--popover-foreground: oklch(0.93 0.025 48);
	--drawer: oklch(0.1 0 0);
	--drawer-foreground: oklch(0.985 0 0);
	--primary: oklch(0.6 0.2 48);
	--primary-foreground: oklch(0.98 0.016 48);
	--muted: oklch(0.32 0.005 48);
	--muted-foreground: oklch(0.7 0.025 48);
	--accent: oklch(0.32 0.005 48);
	--accent-foreground: oklch(0.95 0.025 48);
	--border: oklch(0.45 0.005 48);
	--input: oklch(0.45 0.005 48);
	--ring: oklch(0.65 0.183 48);

	--hyperlink: oklch(0.65 0.213 48);
	--info: oklch(0.6 0.213 263);
	--warning: oklch(0.6 0.213 98.95);
	--success: oklch(0.6 0.213 161.47);
	--destructive: oklch(0.6 0.213 25.89);
}
