@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-\*: initial;
	--color-black: oklch(0% 0 0);
	--color-white: oklch(100% 0 0);

	--text-\*: initial;

	--text-large-title: 1.8rem;
	--text-large-title--line-height: 2.4rem;
	--text-large-title--letter-spacing: -0.024rem;
	--text-large-title--font-weight: 600;

	--text-title1: 1.5rem;
	--text-title1--line-height: 1.9rem;
	--text-title1--letter-spacing: -0.015rem;
	--text-title1--font-weight: 500;

	--text-title2: 1.2rem;
	--text-title2--line-height: 1.647rem;
	--text-title2--letter-spacing: -0.015rem;
	--text-title2--font-weight: 500;

	--text-body: 1rem;
	--text-body--line-height: 1.294rem;
	--text-body--letter-spacing: -0.025rem;
	--text-body--font-weight: 500;

	--text-caption: 0.9rem;
	--text-caption--line-height: 1.1rem;
	--text-caption--letter-spacing: -0.008rem;
	--text-caption--font-weight: 500;

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-drawer: var(--drawer);
	--color-drawer-foreground: var(--drawer-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-destructive: var(--destructive);
	--color-destructive-emphasis: oklch(from var(--destructive) l c h / 8%);
	--color-success: var(--success);
	--color-success-emphasis: oklch(from var(--success) l c h / 10%);
}

:root {
	--radius: 0.625rem;

	--background: oklch(1 0 0);
	--foreground: oklch(0.234 0.006 16.27);
	--drawer: oklch(1 0 0);
	--drawer-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.7595 0.2124 147.3);
	--primary-foreground: oklch(0.9739 0.0011 17.18);
	--muted: oklch(0.9739 0.0011 17.18);
	--muted-foreground: oklch(0.495 0.003 16);
	--accent: oklch(0.967 0.001 48);
	--accent-foreground: oklch(0.21 0.006 48);
	--border: oklch(0.9 0.005 48);
	--input: oklch(0.92 0.004 48);
	--ring: oklch(0.75 0.183 48);

	--success: oklch(0.7 0.213 161.47);
	--destructive: oklch(0.705 0.213 25.89);
}
